<!DOCTYPE html>
<html lang="en">
  <head>
    <title>scribetoy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/client.js"></script>
  </head>

  <body>
    <header>
      <h1>ScribeToy</h1>
      <form autocomplete="off">
        <fieldset id="inputs">
          <legend>Input Text:</legend>
          <div id="sefaria-import">
            <label for="book-select">Tanakh Roulette:</label>
            <button name="grab" id="grab">Grab Random Verse</button>
          </div>
          <!--
          <textarea id="input-text" dir="rtl">וַיְהִ֗י בִּֽהְי֣וֹת יְהוֹשֻׁעַ֮ בִּירִיחוֹ֒ וַיִּשָּׂ֤א עֵינָיו֙ וַיַּ֔רְא וְהִנֵּה־אִישׁ֙ עֹמֵ֣ד לְנֶגְדּ֔וֹ וְחַרְבּ֥וֹ שְׁלוּפָ֖ה בְּיָד֑וֹ וַיֵּ֨לֶךְ יְהוֹשֻׁ֤עַ אֵלָיו֙ וַיֹּ֣אמֶר ל֔וֹ הֲלָ֥נוּ אַתָּ֖ה אִם־לְצָרֵֽינוּ׃ וַיֹּ֣אמֶר ׀ לֹ֗א כִּ֛י אֲנִ֥י שַׂר־צְבָֽא־יְהוָ֖ה עַתָּ֣ה בָ֑אתִי וַיִּפֹּל֩ יְהוֹשֻׁ֨עַ אֶל־פָּנָ֥יו אַ֙רְצָה֙ וַיִּשְׁתָּ֔חוּ…</textarea>
         -->
          <textarea id="input-text" dir="rtl"></textarea>
          <span id="reference-display"></span>
        </fieldset>

        <div id="options">
          <fieldset>
            <legend>Font</legend>
            <input
              type="radio"
              name="font"
              id="font-classic"
              value="font-classic"
              checked
            />
            <label for="font-classic">Classic</label>
            <input
              type="radio"
              name="font"
              id="font-modern"
              value="font-modern"
            />
            <label for="font-modern">Modern</label>
          </fieldset>

          <fieldset>
            <legend>Size</legend>
            <input
              type="radio"
              name="size"
              id="size-normal"
              value="size-normal"
              checked
            />
            <label for="size-normal">Normal</label>
            <input
              type="radio"
              name="size"
              id="size-bigger"
              value="size-bigger"
            />
            <label for="size-bigger">Bigger</label>
            <input
              type="radio"
              name="size"
              id="size-biggest"
              value="size-biggest"
            />
            <label for="size-biggest">Biggest</label>
          </fieldset>

          <fieldset>
            <legend>Show</legend>
            <input
              type="radio"
              name="show"
              id="show-both"
              value="show-both"
              checked
            />
            <label for="show-both">Both</label>
            <input
              type="radio"
              name="show"
              id="show-names"
              value="show-names"
            />
            <label for="show-names">Names</label>
            <input
              type="radio"
              name="show"
              id="show-letters"
              value="show-letters"
            />
            <label for="show-letters">Letters</label>
          </fieldset>
        </div>
      </form>
    </header>

    <main>
      <div id="action-zone"></div>

    </main>

    <footer>
      Made by Taber (<a href="https://twitter.com/taber">Twitter</a>,
      <a href="https://github.com/taber">Github</a>) and enabled by Glitch!!!! Tanakh Roulette(TM) thanks to <a href="https://sefaria.org/">Sefaria</a>
    </footer>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
