body {
  margin: 0;
  background-color: #355691;
}

header {
  padding: 0 2em 2em 2em;
  background-color: #355691;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

h1 {
  text-indent: -9999px;
  display: block;
  background-image: url(https://cdn.glitch.com/29bda87d-1ebe-4d08-84e2-d28f9a1dd3fd%2Fhead.svg?v=1588641025144);
  width: 10em;
  height: 1.8em;
  background-size: contain;
  background-repeat: no-repeat;
}

a:link {
  color: #ff0;
}
a:visited {
  color: #f90;
}
a:hover {
  color: #fff;
}

#sefaria-import {
  display: flex;
  width: 100%;
  text-align: right;
  margin-bottom: 0.5em;
  font-family: "Rubik", sans-serif;
  font-size: 1.3em;
  justify-content: flex-end;
  align-items: center;
}

#sefaria-import label,
#sefaria-import select,
#sefaria-import input,
#sefaria-import button {
  margin: 0 0.5em;
}

#sefaria-import input {
  border: 1px solid white;
  font-size: 0.6em;
  width: 5em;
  padding: 0.3em;
}

textarea {
  width: 100%;
  font-family: "Frank Ruhl Libre";
  font-size: 1em;
  display: block;
  height: 4.5em;
  direction: rtl;
}

#inputs {
  border: 1px solid #2f4858;
}

#options {
  display: flex;
}

#options input,
#options label {
  cursor: pointer;
}

#options fieldset {
  border: 1px solid #2f4858;
  padding: 1em;
}

#options input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
#options label {
  padding: 0.5em;
  background-color: #000;
  margin: 0.25em;
  border-radius: 0.25em;
}

#options label:hover {
  background-color: #fe9000;
}

#options input[type="radio"]:checked + label {
  background-color: #5adbff;
  color: black;
  font-weight: 500;
  cursor: default;
}

legend {
  font-weight: 500;
  font-size: 1.2em;
}

main {
  padding: 2em;
  background-color: #fff;
}

footer {
  background-color: #355691;
  padding: 2em;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: -0.05em;
}

#action-zone {
  display: flex;
  flex-wrap: wrap;
}

.word {
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
  border: 1px dotted #ccc;
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 0.25em;
  box-shadow: 2px 2px 2px #eee;
}

.word-display {
  font-size: 2.5em;
  line-height: 0.5em;
  padding: 0.25em;
  direction: rtl;
  display: inline-block;
  color: #222;
  font-weight: 500;
}

.glyphs {
  display: block;
  line-height: 3em;
  clear: both;
}

.glyph-display {
  text-align: center;
  display: inline-block;
  font-size: 2em;
  width: 1em;
  border: 1px dotted #fff;
  background-color: #eee;
  margin: 0 0.2em 0 0.2em;
  vertical-align: middle;
  line-height: 1em;
  border-radius: 50%;
}

.glyph-name {
  margin: 0 0.2em 0 0.2em;
  font-size: 1.4em;
  line-height: 1em;
  vertical-align: middle;
}

.font-classic {
  font-family: "Frank Ruhl Libre", serif;
}
.font-modern {
  font-family: "Rubik", sans-serif;
}

.glyph-name {
  font-family: "Rubik", sans-serif;
}

.size-normal {
  font-size: 100%;
}

.size-bigger {
  font-size: 130%;
}

.size-biggest {
  font-size: 160%;
}

.word-number {
  display: block;
  float: left;
  font-size: 0.75em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 300;
  background-color: #04a;
  border-radius: 50%;
  color: white;
  font-family: "Rubik", sans-serif;
}

.done {
  font-weight: 300;
  color: #666;
  opacity: 0.9;
}

.done .word-display {
  font-weight: 300;
  color: #666;
}

.done .word-number {
  background-color: #ccc;
}

.word:hover {
  cursor: pointer;
  border: 1px solid #fe9000;
  background-color: #2f4858;
  color: #fff;
}
.word:hover .word-number {
  font-weight: 500;
}
.word:hover .word-display {
  color: #fff;
}

.word:hover .glyph-display {
  background-color: #355691;
  border: 1px solid #2f4858;
}

.word:active {
  background-color: #fe9000;
}

@media only screen and (max-width: 820px) {
  #sefaria-import {
    font-size: 1em;
    flex-flow: column;
    align-items: flex-start;
  }
  #options {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
  }
  #options fieldset {
    flex-basis: unset;
    flex-direction: row;
  }
}
